@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
div{line-height:0;}
html{
    
    width: 100%;
  }
  body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: rgb(0, 0, 0);
  }
.menu{
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    text-align: left;
    height: 10.81165452653486vw;
    transition: 0.5s;
    top: 0;
    z-index: 2;
}
.menu img{
    position: relative;
    top: 8%;
    left: 5%;
    width: 10%;
}
.menu ul{
    text-align: center;
    position: relative;
    top: -3.343496357960458vw;
    left: 20vw;
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu ul li{
    font-size: 0.9375vw;
    width: 7.8125vw;
    margin: 0.5208333333333334vw;
    padding: 1.78125vw;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.menu ul li:hover{
    background: rgb(60, 60, 60);
}
.menu button{
    position: relative;
    top: -3.45vw;
    left: 35vw;
    background-color: #D9D9D9;
    border: none;
    cursor: text;
    padding: 1vw 2.5vw;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75vw;
    margin-left:auto ;
    margin-right: auto;
    z-index: 1;
    text-transform: uppercase;
}
.menu button:hover {
    background-color: #8b0000;
    color: white;
    cursor: pointer;
  }
.title-image{
    background: url("gallery_1@2x.png");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    top: -25px;
    height: 59.375vw;
    min-height: 59.375vw; 
    margin-bottom: -3.5vw;
    
}
.content{
    margin: auto;
    position: relative;
}

.content-text{
    position: relative;
    top:-55vw;
    margin: 0;
    height: 0;
    margin-block-end: 0;
    padding-bottom: 18vw;
}

.opening{
    vertical-align: middle;
    padding-top: 25vw;
}
.opening h1{
    position: relative;
    top: 0;
    text-align: center;
    font-size: 10.4vw;
    color: white;
}
.opening h2{
    position: relative;
    font-family: 'saruji';
    top: 3.5vw;
    margin-left: 30vw;
    font-size:  7vw;
    color: #C52B2F;
    font-weight: 300;
}
.opening p{
    position: relative;
    top: 10.5vw;
    text-align: center;
    margin-left: 4.53125vw;
    margin-right: 4.53125vw;
    color: white;
    font-size: 1.65vw;
    font-weight: 300;
}

.bottom{
    position: relative;
    top: 20vw;
}
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    text-align: center;
}
.footer h5{
    position: relative;
    top: -5vw;
    color: white;
    font-weight: 100;
    font-size: 1.0811654526534857vw;
    text-align: center;

}
.delivery1{
    position: absolute;
    left: 2.4479166666666665vw;
    top: 5vw;
    width: 6.71875vw;
}
.delivery2{
    position: absolute;
    left: 12.1875vw;
    top: 5vw;
    width: 6.01875vw;
}
.delivery3{
    position: absolute;
    left: 21.770833333333332vw;
    top: 5vw;
    width: 5.81875vw;
}
.social1{
    position: relative;
    top: -6vw;
    align-items: center;
    padding: 0.5vw;
}
.gambar{
    padding: 0;
    position: relative;
}

.comment{
    position: relative;
    top: -15vw;
    height: 10vw;
    margin-bottom: 0;
}

.comment h5{
    
    color: white;
    margin-left: 51%;
    margin-right: 6vw;
    font-size: 1.0811654526534857vw;
    text-align: justify;
 
    line-height: 1.5vw;
    
    font-weight: 200;
}

.comment p{
    margin-top: 10vw;
    color: white;
    margin-left: 6vw;
    margin-right: 51%;
    font-size: 1.0416666666666667vw;
    text-align: justify;
    line-height: 1.5vw;
    margin-bottom: -10.4vw;
    font-weight: 100;
}

.opening-menu h5{
    position: relative;
    color: #FF0000;
    margin-left: 45%;
    margin-right: 45%;
    font-size: 1.297398543184183vw;
    text-align: center;
    top:400px;
    line-height: 5vw;
    text-transform: uppercase;
    letter-spacing: 10%;
}
.opening-menu h1{
    position: relative;
    color: #ffffff;
    font-size: 4.989594172736732vw;
    text-align: center;
    top:390px;
    line-height: 5vw;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 600;
}
.opening-menu p{
    position: relative;
    color: #ffffff;
    margin-left: 28%;
    margin-right: 28%;
    font-size: 0.8649323621227887vw;
    text-align: center;
    top:410px;
    line-height: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 10%;
    font-weight: 100;
}
.foto-gallery{
    width: auto;
    padding: 0;
    margin: 5%;
    table-layout: auto;
    align-items: center;
}
.foto-gallery table{
    position: relative;
    text-align: center;
    align-items: center;
    width: 100%;
}
.foto-gallery table, td{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    padding: 1%;
    text-align: center;
    
}
.foto-gallery img{
    width: 100%;
    height: auto;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  img {
    margin-bottom: -4px;
  }
  
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }
  .fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  }
  .fade-in1 {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  }