* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    margin: 0;
  }
  .home {
    width: 100%;
    height: 3466px;
    background: rgb(255, 255, 255);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .map {
    width: 100%;
    height: 666px;
    background: url("../images/v159_947.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2454px;
    left: 0px;
    overflow: hidden;
  }
  .searchbar {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  .searchbar img{

   position: relative;
    top: 50px;
    left: 52;
  }
  .searchbar a {
    font-family: 'Outfit';
    float: left;
    position: relative;
    top: 40px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  .searchbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .searchbar input[type=text] {
    position: relative;
    left:229;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }
  .searchbar input[type=text] {
    border: 1px solid #ccc;  
  }
  .v7_8 {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1);
    opacity: 0.5;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v7_11 {
    width: 100%;
    font-family: 'Outfit';
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 330px;
    left: 0px;
    font-family: Outfit;
    font-weight: Bold;
    font-size: 230px;
    opacity: 1;
    text-align: center;
  }
  .v13_16 {
    width: 100%;
    color: rgba(197,43,47,1);
    position: absolute;
    top: 486px;
    left: 0px;
    font-family: saruji;
    font-weight: Regular;
    font-size: 160px;
    opacity: 1;
    text-align: center;
  }
  .v76_8 {
    width: 100%;
    height: 100%;
    background: url("../images/v76_8.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1140px;
    left: 0px;
    overflow: hidden;
  }
  .v61_4 {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    position: absolute;
    top: 1140px;
    left: 0px;
    overflow: hidden;
  }
  .v76_11 {
    width: 774px;
    height: 72px;
    background: rgba(217,217,217,0.6000000238418579);
    opacity: 1;
    position: absolute;
    top: 880px;
    left: 573px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  .v76_12 {
    width: 767px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 895px;
    left: 576px;
    font-family: Outfit;
    font-weight: Light;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v76_13 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 653px;
    left: 140px;
    opacity: 1;
    text-align: center;
  }
  .v78_144 {
    width: 100%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1648px;
    left: 87px;
    font-family: Outfit;
    font-weight: Light;
    font-size: 40px;
    opacity: 1;
    text-align: justified;
  }
  .v78_145 {
    width: 793px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1500px;
    left: 87px;
    font-family: Outfit;
    font-weight: Regular;
    font-size: 140px;
    opacity: 1;
    text-align: justified;
  }
  .v78_146 {
    width: 593px;
    color: rgba(197,43,47,1);
    position: absolute;
    top: 1612px;
    left: 484px;
    font-family: saruji;
    font-weight: Regular;
    font-size: 65px;
    opacity: 1;
    text-align: center;
  }
  .v78_149 {
    width: 20px;
    height: 20px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 2148px;
    left: 910px;
    border-radius: 50%;
  }
  .v135_137 {
    width: 20px;
    height: 20px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 2148px;
    left: 870px;
    border-radius: 50%;
  }
  .v78_150 {
    width: 20px;
    height: 20px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 2148px;
    left: 950px;
    border-radius: 50%;
  }
  .v78_151 {
    width: 20px;
    height: 20px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 2148px;
    left: 990px;
    border-radius: 50%;
  }
  .v78_157 {
    width: 20px;
    height: 20px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 2148px;
    left: 1030px;
    border-radius: 50%;
  }
  .v125_2810 {
    width: 72px;
    height: 68px;
    background: url("../images/v125_2810.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3078px;
    left: 924px;
    overflow: hidden;
  }
  .v89_167 {
    width: 100%;
    height: 373px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 3120px;
    left: 0px;
    overflow: hidden;
  }
  .v123_2675 {
    width: 100%;
    height: 280px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 2240px;
    left: 0px;
    overflow: hidden;
  }
  .v123_2677 {
    width: 100%;
    height: 280px;
    background: url("../images/v123_2677.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.30000001192092896;
    position: absolute;
    top: 2240px;
    left: 0px;
    overflow: hidden;
  }
  .v102_2 {
    width: 100%;
    height: 280px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v123_2674 {
    width: 100%;
    height: 295px;
    background: url("../images/v123_2674.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v123_2664 {
    width: 575px;
    height: 295px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v123_2665 {
    width: 575px;
    height: 295px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
  }
  .v123_2666 {
    width: 575px;
    height: 295px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 548px;
    overflow: hidden;
  }
  .v123_2667 {
    width: 575px;
    height: 295px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
  }
  .v123_2670 {
    width: 575px;
    height: 295px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1050px;
    overflow: hidden;
  }
  .v123_2671 {
    width: 575px;
    height: 295px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
  }
  .v123_2672 {
    width: 575px;
    height: 295px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1598px;
    overflow: hidden;
  }
  .v123_2673 {
    width: 575px;
    height: 295px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
  }
  .v102_20 {
    width: 320px;
    color: url("../images/v102_20.png");
    position: absolute;
    top: 2280px;
    left: 110px;
    opacity: 1;
    text-align: center;
  }
  .v102_21 {
    width: 320px;
    color: url("../images/v102_21.png");
    position: absolute;
    top: 2280px;
    left: 810px;
    opacity: 1;
    text-align: center;
  }
  .v102_22 {
    width: 320px;
    color: url("../images/v102_22.png");
    position: absolute;
    top: 2280px;
    left: 1490px;
    opacity: 1;
    text-align: center;
  }
  .v89_169 {
    width: 400px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3220px;
    left: 750px;
    font-family: Outfit;
    font-weight: Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v89_170 {
    width: 590px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3221px;
    left: 1330px;
    opacity: 1;
    text-align: center;
  }
  .v107_4 {
    width: 100%;
    height: 1120px;
    background: url("../images/v107_4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1120px;
    left: 1900px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v102_23 {
    width: 590px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3160px;
    left: 0px;
    font-family: Outfit;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v102_24 {
    width: 520px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3160px;
    left: 690px;
    font-family: Outfit;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v102_25 {
    width: 590px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3160px;
    left: 1330px;
    font-family: Outfit;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v113_26 {
    width: 38px;
    height: 38px;
    background: url("../images/v113_26.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3376px;
    left: 865px;
    overflow: hidden;
  }
  .v113_27 {
    width: 36px;
    height: 36px;
    background: url("../images/v113_27.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3376px;
    left: 972px;
    overflow: hidden;
  }
  .v113_28 {
    width: 37px;
    height: 37px;
    background: url("../images/v113_28.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3376px;
    left: 1005px;
    overflow: hidden;
  }
  .v120_3 {
    width: 254px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3427px;
    left: 833px;
    font-family: Outfit;
    font-weight: ExtraLight;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v156_556 {
    width: 100%;
    height: 200px;
    background: url("../images/v156_556.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v35_18 {
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8500000238418579));
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v35_19 {
    width: 332px;
    height: 62px;
    background: url("../images/v35_19.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.800000011920929;
    position: absolute;
    top: 60px;
    left: 229px;
    overflow: hidden;
  }
  .v35_20 {
    width: 332px;
    height: 62px;
    background: rgba(217,217,217,1);
    opacity: 0.699999988079071;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
  }
  .v35_21 {
    width: 30px;
    height: 30px;
    background: url("../images/v35_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 23px;
    overflow: hidden;
  }
  .v54_30 {
    width: 92px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 168px;
    left: 76px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Outfit;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v35_25 {
    width: 140px;
    height: 142px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 52px;
    border-radius: 50%;
  }
  .v61_27 {
    width: 140px;
    height: 142px;
    background: url("../images/v61_27.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 52px;
    overflow: hidden;
  }
  .v61_26 {
    width: 140px;
    height: 142px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v61_25 {
    width: 190px;
    height: 136px;
    background: url("../images/v61_25.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 19px;
    left: 25px;
    overflow: hidden;
  }
  .v76_15 {
    width: 228px;
    height: 53px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 65px;
    left: 1623px;
    overflow: hidden;
  }
  .v76_14 {
    width: 262px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 82px;
    left: 1606px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Outfit;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: center;
  }
  .v125_2821 {
    width: 349px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 588px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Outfit;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v125_2822 {
    width: 349px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 712px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Outfit;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v125_2823 {
    width: 350px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 853px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Outfit;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v125_2824 {
    width: 350px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 1019px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Outfit;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v135_480 {
    width: 100%;
    height: 243px;
    background: rgba(0,0,0,1);
    opacity: 0.5;
    position: absolute;
    top: 1140px;
    left: 0px;
    overflow: hidden;
  }
  .v135_481 {
    width: 320px;
    color: url("../images/v135_481.png");
    position: absolute;
    top: 1162px;
    left: 59px;
    opacity: 1;
    text-align: center;
  }
  .v156_558 {
    width: 126px;
    height: 126px;
    background: url("../images/v156_558.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3214px;
    left: 234px;
    overflow: hidden;
  }
  .v156_559 {
    width: 129px;
    height: 141px;
    background: url("../images/v156_559.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3206px;
    left: 47px;
    overflow: hidden;
  }
  .v155_509 {
    width: 122px;
    height: 122px;
    background: url("../images/v155_509.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3216px;
    left: 418px;
    overflow: hidden;
  }